@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #577CFF;
}

.main-header {
    background-color: rgba(0, 0, 0, .6);
    background-image: url('Pictures/rosary7.png');
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 60px;
    margin-bottom: 5em;
}

.web-name {
    text-align: center;
    padding-top: 0px;
    margin: 0;
    font-size: 4em;
    font-family: "Carter One";
    font-weight: normal;
    color: #4BAFE0;
    -webkit-text-stroke: 3px #004B70;
}

.web-name-large {
    font-size: 6em;
}

/*.sidenav {
    width: 250px;
    height: 100vh;
    position: fixed;
    right: 0px;
    top: 0;
    background: #009688;
    z-index: 3;
    overflow-x: hidden;
    transition: 0.5s;
}*/

.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #577CFF;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidenav a {
    padding: 20px 20px 20px 32px;
    text-decoration: none;
    font-size: 25px;
    color: midnightblue;
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
@media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
}

.manuBtn {
    width: 50px;
    height: 47px;
    background: #577CFF;
    border: 2px solid #0041c2;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    /*z-index: 3;*/
    cursor: pointer;
}

.logo {
    width: 209px;
    height: 190px;
    padding: 0;
    margin-left: 25px;
    margin-top: 0;
}

.mysteries-title {
    font-family: Poetsen One;
    margin: auto;
    margin-bottom: 5em;
    padding-bottom: 5px;
    text-align: center;
    background-color: #6495ed;
    width: 30em;
    border: 2px solid #0041c2;
    border-radius: 25px;
}

.mysteries {
    margin: auto;
    margin-bottom: 5em;
    padding-bottom: 5px;
    text-align: center;
    background-color: #6495ed;
    width: 70em;
    border: 2px solid #0041c2;
    border-radius: 25px;
}

.joyful {
    width: 12em;
    height: 15em;
}

.text {
    margin-left: 1em;
    margin-right: 1em;
    font-family: Poppins;
}

.mycontainer {
    width:100%;
    overflow:auto;
    display: inline-block;
}

.mycontainer div {
    width:33%;
    float:left;
}

.fourth {
    margin-left: 11.5em;
    margin-right: 2em;
}

.luminous {
    width: 10em;
    height: 15em;
}

.luminous5 {
    width: 11.5em;
    height: 15em;
}

.fourth2 {
    margin-left: 11.2em;
}

.sorrowful {
    width: 12em;
    height: 15em;
}

.sorrowful5 {
    width: 10.5em;
    height: 15em;
}

.glorious {
    width: 11.5em;
    height: 15em;
}

.glorious4 {
    width: 10.5em;
    height: 15em;
}

.fourth3 {
    margin-left: 11.5em;
}

.mystery {
    font-family: Radio Canada Big;
}

.five-mysteries {
    font-family: REM;
}

.footer {
    margin-top: 6em;
    padding-bottom: 3em;
    background-color: black;
}

.p {
    border-bottom: 1px solid white;
    margin-right: 4em;
    margin-left: 4em;
    color: black;
}

.under-text {
    display: inline;
    color: white;
    margin-left: 4.4em;
    margin-bottom: 10em
}

.text2 {
    padding-left: 23em;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.ul {
    list-style-type: none;
}

.footer-col {
    width: 30%;
    padding: 0 20px;
}

.footer-col h2 {
    font-size: 20px;
    font-family: Platypi;
    color: white;
    text-transform: capitalize;
}

.ul a {
    font-family: Poppins;
    font-weight: 18px;
    color: white;
    text-decoration: none;
}

.footer-col ul li a {
    text-transform: capitalize;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #bbbbbb;
    padding-left: 10px;
}

.info {
    font-family: Poppins;
    font-weight: 19px;
    color: white;
}

.container2 {
    padding-top: 4.5em;
    margin-left: 10em;
}

.foot {
    font-family: Poppins;
    font-size: 19px;
    margin-bottom: 1em;
    margin-left: 3.8em;
    margin-right: 40.6em;
    color: white;
    text-align: left;
}